<app-loading [isLoading]="loading"></app-loading>
<div class="container">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <input type="text" hidden formControlName="id" value="0" />
    <div class="form-group">
      <label>Title</label>
      <input
        type="text"
        class="form-control"
        formControlName="title"
        aria-describedby="emailHelp"
        [ngClass]="{ 'is-invalid': formHelper.isInvalid('title', productForm) }"
      />
    </div>
    <p
      class="text-danger"
      *ngIf="formHelper.getError('title',productForm,'required')"
    >
      Please fill out the title!
    </p>
    <div class="form-group">
      <label>Price</label>
      <input type="number" class="form-control" formControlName="price" [ngClass]="{ 'is-invalid': formHelper.isInvalid('price', productForm) }"/>
      <p
        class="text-danger"
        *ngIf="formHelper.getError('price',productForm,'required')"
      >
        Please fill out the price!
      </p>
    </div>
    <div class="form-group">
      <label>Description</label>
      <input
        type="text"
        class="form-control"
        formControlName="description"
        aria-describedby="emailHelp"
        [ngClass]="{ 'is-invalid': formHelper.isInvalid('description', productForm) }"
      />
      <p
        class="text-danger"
        *ngIf="formHelper.getError('description',productForm,'required')"
      >
        Please fill out the description!
      </p>
    </div>
    <div class="form-group">
      <label>Category</label>
      <input
        type="text"
        class="form-control"
        formControlName="category"
        aria-describedby="emailHelp"
        [ngClass]="{ 'is-invalid': formHelper.isInvalid('category', productForm) }"
      />
      <p
        class="text-danger"
        *ngIf="formHelper.getError('category',productForm,'required')"
      >
        Please fill out the category!
      </p>
    </div>
    <div class="form-group">
      <label>Image</label>
      <input
        type="text"
        class="form-control"
        formControlName="image"
        aria-describedby="emailHelp"
        [ngClass]="{ 'is-invalid': formHelper.isInvalid('image', productForm) }"
      />
    </div>
    <p
      class="text-danger"
      *ngIf="formHelper.getError('image',productForm,'required')"
    >
      Please fill out the image!
    </p>
      <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid && productForm.touched">
          Submit
      </button>
  </form>
</div>
