<form [formGroup]="userForm" class="container">
    <app-message-response [messageResponse]="messageResponse"></app-message-response>
    <input type="number" hidden formControlName="id"/>
    <div class="form-group">
        <label for="username">Username</label>
        <input
                type="text"
                name="username"
                formControlName="username"
                class="form-control"
                [ngClass]="{ 'is-invalid': formHelper.isInvalid('username', userForm) }"
                autofocus
                #formField
        />
        <div
                *ngIf="formHelper.getError('username',userForm,'required')"
                class="text-danger"
                id="username"
        >
            Username is required.
        </div>
        <div
                *ngIf="formHelper.getError('username',userForm,'usernameExisting')"
                class="text-danger"
        >
            Username already exists.
        </div>
    </div>
    <div formGroupName="passwordGroup">
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" class="form-control"
                   [ngClass]="{ 'is-invalid': formHelper.isInvalid('passwordGroup.password', userForm) }"
                   #formField
            />
            <div
                    *ngIf="formHelper.getError('passwordGroup.password',userForm,'required')"
                    class="text-danger"
            >
                Password must be at least 9 characters, contain a capital letter and a
                special character.
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm password</label>
            <input
                    type="password"
                    formControlName="confirmPassword"
                    class="form-control"
                    id="confirmPassword"
                    [ngClass]="{ 'is-invalid': formHelper.isInvalid('passwordGroup.confirmPassword', userForm) }"
                    #formField
            />
            <div
                    *ngIf="formHelper.getError('passwordGroup.confirmPassword',userForm,'required')"
                    class="text-danger"
            >
                Confirm password must be at least 9 characters, contain a capital letter
                and a special character.
            </div>
            <div
                    *ngIf="
          userForm.get('passwordGroup')?.errors?.mismatch &&
          userForm.get('passwordGroup')?.get('confirmPassword')?.touched
        "
                    class="text-danger"
            >
                Passwords do not match!
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="fullName">Full Name</label>
        <input formControlName="fullName" class="form-control" id="fullName"
               [ngClass]="{ 'is-invalid': formHelper.isInvalid('fullName', userForm) }"
               #formField
        />
        <div
                *ngIf="formHelper.getError('fullName',userForm,'required')"
                class="text-danger"
        >
            Full name is required, max 20 characters, and no special characters.
        </div>
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input formControlName="age" type="text" class="form-control" id="age"
               [ngClass]="{ 'is-invalid': formHelper.isInvalid('age', userForm) }"
               #formField
        />
        <div
                *ngIf="formHelper.getError('age',userForm,'required')"
                class="text-danger"
        >
            Please fill out the age field
        </div>
        <div
                *ngIf="formHelper.getError('age',userForm,'min') || formHelper.getError('age',userForm,'max')"
                class="text-danger"
        >
           Age should be between 1 and 99
        </div>
        <div
                *ngIf="formHelper.getError('age',userForm,'invalidNumber')"
                class="text-danger"
        >
            Please enter a valid number.
        </div>
    </div>
    <div class="form-group">
        <label for="gender">Gender</label>
        <select formControlName="gender" class="form-control" id="gender"
                [ngClass]="{ 'is-invalid': formHelper.isInvalid('gender', userForm) }">
            <option value="" disabled selected>Select gender</option>
            <option *ngFor="let g of genderList" [value]="g.value">{{ g.label }}</option>
        </select>
        <div
                *ngIf="formHelper.getError('gender',userForm,'required')"
                class="text-danger"
        >
            Gender must be selected
        </div>
    </div>
    <div
            class="form-group form-check"
            *ngFor="let role of roles; let i = index"
            formArrayName="roles"
    >
        <input type="checkbox" class="form-check-input" [formControlName]="i" #formField/>
        <label class="form-check-label">{{ role }}</label>
    </div>
    <div class="form-group" *ngIf="userForm.get('adminCode')">
        <label>Admin code</label>
        <input formControlName="adminCode" type="text" class="form-control"
               [ngClass]="{ 'is-invalid': formHelper.isInvalid('adminCode', userForm) }" #formField/>
        <div
                *ngIf="formHelper.getError('adminCode',userForm,'required')"
                class="text-danger"
        ></div>
    </div>
    <div class="form-group" *ngIf="userForm.get('subscriptionPlan')">
        <label>Subscription plan</label>
        <input
                formControlName="subscriptionPlan"
                type="text"
                class="form-control"
                [ngClass]="{ 'is-invalid': formHelper.isInvalid('subscriptionPlan', userForm) }"
                #formField
        />
        <div
                *ngIf="formHelper.getError('subscriptionPlan',userForm,'required')"
                class="text-danger"
        ></div>
    </div>
    <button
            type="submit"
            class="btn btn-primary mr-2"
            (click)="onSubmit()"
    >
        Submit
    </button>
    <button (click)="onReset()" class="btn btn-secondary">Reset</button>
</form>
