<div class="container mt-4">
    <h2 class="mb-3">Product List</h2>
    <button class="btn btn-info mt-2 mb-2" [routerLink]="['/admin/products/create']" *ngIf="isAdmin">New</button>
    <table class="table table-bordered table-striped text-center align-middle">
        <thead class="table-dark">
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col" *ngIf="isAdmin">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
            <td>{{ product.id }}</td>
            <td>{{ product.title }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.price | currency }}</td>
            <td>{{ product.description | truncate }}</td>
            <td>
                <img
                        [src]="product.image"
                        [alt]="product.title"
                        style="width: 100px; height: 100px; object-fit: cover; border-radius: 8px;"
                />
            </td>
            <td *ngIf="isAdmin">
                <div class="d-flex flex-column align-items-center">
                    <button class="btn btn-sm btn-warning w-100 mb-2"
                            [routerLink]="['/admin/products/edit', product.id]">Edit
                    </button>
                    <button class="btn btn-sm btn-danger w-100" (click)="deleteProduct(product)">Delete</button>
                    <common-confirm
                            *ngIf="showConfirmDialog && selectedProduct == product"
                            [title]="'Delete product ' + product.id"
                            [messageKey]="'deleteProductConfirm'"
                            (confirm)="handleConfirmDelete($event)"
                    >
                    </common-confirm>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>