<app-loading [isLoading]="loading"></app-loading>
<div class="container">
    <common-message-response [messageResponse]="messageResponse"></common-message-response>
    <form [formGroup]="productForm">
        <input type="number" hidden formControlName="id" value="0"/>
        <div class="form-group">
            <label [appRequiredMark]="'title'">Title</label>
            <input
                    type="text"
                    class="form-control"
                    formControlName="title"
                    aria-describedby="emailHelp"
                    [ngClass]="{ 'is-invalid': formHelper.isInvalid('title', productForm) }"
                    autoFocus
                    #formFields
            />
        </div>
        <div class="form-group">
            <label [appRequiredMark]="'price'">Price</label>
            <div class="input-group">
                <input type="text" class="form-control" formControlName="price"
                       [ngClass]="{ 'is-invalid': formHelper.isInvalid('price', productForm) }"
                       #formFields
                       [appNumberInput]="'decimal'"
                />
                <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label [appRequiredMark]="'description'">Description</label>
            <input
                    type="text"
                    class="form-control"
                    formControlName="description"
                    aria-describedby="emailHelp"
                    [ngClass]="{ 'is-invalid': formHelper.isInvalid('description', productForm) }"
                    #formFields
            />
        </div>
        <div class="form-group">
            <label [appRequiredMark]="'category'" for="category">Category</label>
            <select formControlName="category" class="form-control" id="category"
                    [ngClass]="{ 'is-invalid': formHelper.isInvalid('category', productForm) }">
                <option value="" disabled selected>Select category</option>
                <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
            </select>
        </div>
        <div class="form-group">
            <label [appRequiredMark]="'image'">Image</label>
            <input
                    type="text"
                    class="form-control"
                    formControlName="image"
                    aria-describedby="emailHelp"
                    [ngClass]="{ 'is-invalid': formHelper.isInvalid('image', productForm) }"
                    #formFields
            />
        </div>

        <button
                type="submit"
                class="btn btn-primary mr-2"
                (click)="onSubmit()"
        >
            {{ formType == form.CREATE ? 'Create' : 'Update' }}
        </button>
        <button (click)="onReset()" class="btn btn-secondary">{{formType == form.CREATE ? 'Clear' : 'Reset'}}</button>
    </form>
    <div class="toast-container">
        <form-validation-message [formGroup]="productForm" [controlName]="'title'" [title]="'Title'"></form-validation-message>
        <form-validation-message [formGroup]="productForm" [controlName]="'price'" [title]="'Price'" [errorKey]="'invalidPrice'"></form-validation-message>
        <form-validation-message [formGroup]="productForm" [controlName]="'description'" [title]="'Description'"></form-validation-message>
        <form-validation-message [formGroup]="productForm" [controlName]="'category'" [title]="'Category'"></form-validation-message>
        <form-validation-message [formGroup]="productForm" [controlName]="'image'" [title]="'Image'" [errorKey]="'invalidImageUrl'"></form-validation-message>
    </div>
</div>
