<div class="container">
    <form [formGroup]="userForm">
        <common-message-response [messageResponse]="messageResponse"></common-message-response>
        <input type="number" hidden formControlName="id"/>
        <div class="form-group">
            <label [appRequiredMark]="'username'">Username</label>
            <input
                    type="text"
                    name="username"
                    formControlName="username"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': formHelper.isInvalid('username', userForm) }"
                    autoFocus
                    #formField
            />
        </div>
        <div formGroupName="passwordGroup">
            <div class="form-group">
                <label [appRequiredMark]="'passwordGroup.password'" for="password">Password</label>
                <input type="password" id="password" formControlName="password" class="form-control"
                       [ngClass]="{ 'is-invalid': formHelper.isInvalid('passwordGroup.password', userForm) }"
                       #formField
                />
            </div>
            <div class="form-group">
                <label [appRequiredMark]="'passwordGroup.confirmPassword'" for="confirmPassword">Confirm password</label>
                <input
                        type="password"
                        formControlName="confirmPassword"
                        class="form-control"
                        id="confirmPassword"
                        [ngClass]="{ 'is-invalid': formHelper.isInvalid('passwordGroup.confirmPassword',userForm)}"
                        #formField
                />

            </div>
        </div>
        <div class="form-group">
            <label [appRequiredMark]="'fullName'" for="fullName">Full Name</label>
            <input formControlName="fullName" class="form-control" id="fullName"
                   [ngClass]="{ 'is-invalid': formHelper.isInvalid('fullName', userForm) }"
                   #formField
            />
        </div>
        <div class="form-group">
            <label [appRequiredMark]="'age'" for="age">Age</label>
            <input formControlName="age" type="text" class="form-control" id="age"
                   [appNumberInput]="'number'"
                   [ngClass]="{ 'is-invalid': formHelper.isInvalid('age', userForm) }"
                   #formField
            />
        </div>
        <div class="form-group">
            <label [appRequiredMark]="'gender'" for="gender">Gender</label>
            <select formControlName="gender" class="form-control" id="gender"
                    [ngClass]="{ 'is-invalid': formHelper.isInvalid('gender', userForm) }">
                <option value="" disabled selected>Select gender</option>
                <option *ngFor="let gender of genders" [value]="gender.value">{{ gender.label }}</option>
            </select>
        </div>
        <div class="form-group" [hidden]="loggedInUser?.role != 'ADMIN'">
            <label [appRequiredMark]="'role'" for="role">Role</label>
            <select formControlName="role" class="form-control" id="role"
                    [ngClass]="{ 'is-invalid': formHelper.isInvalid('role', userForm) }">
                <option value="" disabled selected>Select gender</option>
                <option *ngFor="let role of roles" [value]="role.value">{{ role.label }}</option>
            </select>
        </div>
        <div class="form-group" *ngIf="userForm.controls.adminCode" [hidden]="loggedInUser?.role != 'ADMIN'">
            <label [appRequiredMark]="'adminCode'">Admin code</label>
            <input [appRequiredMark]="'adminCode'" formControlName="adminCode" type="text" class="form-control"
                   [ngClass]="{ 'is-invalid': formHelper.isInvalid('adminCode', userForm) }" #formField/>
            <div
                    *ngIf="formHelper.getError('adminCode',userForm,'required')"
                    class="text-danger"
            ></div>
        </div>
        <div class="form-group" *ngIf="userForm.controls.subscriptionPlan" [hidden]="loggedInUser?.role != 'ADMIN'">
            <label [appRequiredMark]="'subscriptionPlan'">Subscription plan</label>
            <input
                    formControlName="subscriptionPlan"
                    type="text"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': formHelper.isInvalid('subscriptionPlan', userForm) }"
                    #formField
            />
            <div
                    *ngIf="formHelper.getError('subscriptionPlan',userForm,'required')"
                    class="text-danger"
            ></div>
        </div>
        <button
                type="submit"
                class="btn btn-primary mr-2"
                (click)="onSubmit()"
        >
            {{ formType == form.CREATE ? 'Create' : 'Update' }}
        </button>
        <button (click)="onReset()" class="btn btn-secondary">{{ formType == form.CREATE ? 'Clear' : 'Reset' }}</button>
    </form>
    <div class="toast-container">
        <form-validation-message [formGroup]="userForm" [controlName]="'username'" [title]="'Username'" [errorKey]="'usernameExisting'"></form-validation-message>
        <form-validation-message [formGroup]="userForm" [controlName]="'passwordGroup.password'" [title]="'Password'" [errorKey]="'invalidPassword'"></form-validation-message>
        <form-validation-message [formGroup]="userForm" [controlName]="'passwordGroup.confirmPassword'" [title]="'Confirm Password'" [errorKey]="'invalidPassword'"></form-validation-message>
        <form-validation-message [formGroup]="userForm" [controlName]="'fullName'" [title]="'Full Name'" [errorKey]="'invalidFullName'"></form-validation-message>
        <form-validation-message [formGroup]="userForm" [controlName]="'gender'" [title]="'Gender'"></form-validation-message>
        <form-validation-message [formGroup]="userForm" [controlName]="'age'" [title]="'Age'" [errorKey]="'invalidAge'"></form-validation-message>
        <div *ngIf="isMismatchPassword()">
            <common-dialog [title]="'Confirm password'" [messageKey]="'mismatch'"></common-dialog>
        </div>
        <form-validation-message [formGroup]="userForm" [controlName]="'role'" [title]="'Role'"></form-validation-message>
    </div>
</div>

