<app-loading [isLoading]="loading"></app-loading>
<div class="toast-container" *ngIf="messageResponse">
    <common-dialog *ngIf="messageResponse" [messageKey]="messageResponse.body" [title]="dialogTitle" [messageType]="messageResponse.messageType"></common-dialog>
</div>
<div class="container">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="form-group">
            <label>Username</label>
            <input type="text"
                   required
                   autoFocus
                   name="username"
                   class="form-control"
                   [ngClass]="{'is-invalid':username.errors && username.touched && form.submitted}"
                   ngModel
                   #username="ngModel"/>
        </div>
        <p *ngIf="username.errors?.required && username.touched && form.submitted" class="text-danger">
            Please fill out the username!
        </p>
        <div class="form-group">
            <label>Password</label>
            <input type="password"
                   required
                   name="password"
                   class="form-control"
                   [ngClass]="{'is-invalid':password.errors && password.touched && form.submitted}"
                   ngModel
                   #password="ngModel"/>
            <p *ngIf="password.errors?.required && password.touched && form.submitted" class="text-danger">
                Please fill out the password!
            </p>
        </div>
        <button type="submit" class="btn btn-primary mt-2 mb-2"
                [disabled]="form.invalid && form.touched && form.submitted">
            Login
        </button>
    </form>
    <div class="form-inline">
        <label class="mr-2">Don't have an account? </label>
        <a class="" [routerLink]="['/register']"> Sign up</a>
    </div>
</div>