<app-loading [isLoading]="loading"></app-loading>
<div class="toast-container" *ngIf="messageResponse">
    <common-confirm *ngIf="messageResponse"
                    (confirm)="closeResponseDialog($event)"
                    [messageType]="messageResponse.messageType"
                    [title]="'Login'"
                    [dialogType]="dialogType"
                    [messageKey]="messageResponse.body">
    </common-confirm>
</div>
<div class="container mt-4">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="form-group">
            <label>Username<span class="text-danger">*</span></label>
            <input type="text"
                   required
                   autoFocus
                   name="username"
                   class="form-control"
                   [ngClass]="{'is-invalid':password.errors && ((password.touched && isSubmitted)  || isSubmitted)}"
                   ngModel
                   #username="ngModel" #formField/>
        </div>
        <div class="form-group">
            <label>Password<span class="text-danger">*</span></label>
            <input type="password"
                   required
                   name="password"
                   class="form-control"
                   [ngClass]="{'is-invalid':password.errors && ((password.touched && isSubmitted)  || isSubmitted)}"
                   ngModel
                   #password="ngModel" #formField/>
        </div>
        <button type="submit" class="btn btn-primary mt-2 mb-2">
            Login
        </button>
    </form>
    <div class="form-inline">
        <label class="mr-2">Don't have an account? </label>
        <a class="" [routerLink]="['/register']"> Sign up</a>
    </div>
    <form-validation-message *ngIf="isDialogOpen && formGroup"
                             [controlValidators]="controlValidators"
                             [formGroup]="formGroup"
                             (confirm)="closeDialog($event)"

    >
    </form-validation-message>
</div>